@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');




.button {

  display: inline-block;

  padding: 2px 5px;

  font-size: 10px;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: #fff;

  background-color:#f4511e;

  border: none;

  border-radius: 15px;

  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {

  background-color: #3e8e41;

  box-shadow: 0 5px #666;

  transform: translateY(4px);
}




.text{
  background-color: #60004f;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}

.randomNum{
  background-color: rgba(135, 43, 43, 0.597);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
}


.numContainer{
  background-color: rgba(135, 43, 43, 0.597);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: -10px;

}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8de53;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}

.user-form{
    width :100%;
    max-width: 1000px;
}
.user-form input{
    width: 100%;
    display: block;
    background-color: #4c2885;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 10px 10px 10px rgb(221, 44, 8),
    10 15px 40px rgb(11, 182, 239);
}
.user-form input::placeholder{
    color: #bbb;
}
.user-form input:focus{
    outline: none;
}
.card{
    max-width: 800px;
    background-color: #600aeb;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;   
}
.avatar {
    border-radius: 50%;
    border: 50px solid #2a2a72;
    height: 450px;
    width: 550px;

} 
.user-info{
    color: #e31717;
    margin-left: 2rem;
}
.user-info h2{
    margin-top: 0;
}
.user-info ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}
.user-info ul li{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}
.repo{
    text-decoration: none;
    color: #fff;
    background-color: #212a72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-top: 20px;

}
@media(max-width:700px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        max-width: 400px;
    }
}